body{
    font-family: helvetica;
    background-color: #EBFAEB;
}

h1{
    font-size: 55px;
}

img{
    height: 350px;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#textLeft{
    vertical-align: top
    text-align: left;
    height: 350px;
    width: 225px;
    display: inline-block;
}

hr{
    margin-top: 10px;
    clear:left;
}

.side-by-side {
    display: inline-block;
    width: 350px;
    height: 350px;
    margin-right: 10px;
    vertical-align: top;
}